@using car.DTO;
@using System.Web.Mvc.Html;
@using Newtonsoft.Json;
<script src='@Url.Content("~/Scripts/jquery.tmpl.js")'></script>
<script>
    function showGoodsConfirm(goodsId, salesPrice) {
        $('#confirmContainer').html($('#confirmBuy').tmpl({ goodsId: goodsId, salesPrice: salesPrice, salesMan: '@Model.User', plate: '@(Session["plate"])' }))
    };

    function addGoods(goodsId) {
        $.post('@Url.Action("AddGoods")', { goodsId: goodsId, tempSalePrice: $("#tempSalePrice").val(), salesMan: $("#salesMan").val() }, function (data) {
            alert(data.MESSAGE);
        });
    }

    function showGoods(goods, ele) {
        $('#content').html($('#goodsTmp').tmpl(goods));
        if (ele != undefined) {
            $(ele).siblings().removeClass("active").end().addClass("active");
        }
    }
</script>
@if (Model.ViewType == null)
{<div class="row">
        <div class="jumbotron">
            <h1>欢迎光临4s店!</h1>
            <p>
                优势一：会战沈城，低价购车，免费报名享优惠价格！<br />
                优势二：签到有礼，购车有机会抽取万元大奖！<br />
                优势三：保证沈城当期购车最低价格，正规4S店全国联保！<br />
                优势四：团购现场看车，讲解（车型+车险）无强制性消费！<br />
                优势五：车源丰富，团购享受优先提车
            </p>
            <p><a href='@Url.Action("Car")' class="btn btn-success btn-lg" role="button">选择车辆</a></p>
        </div>
    </div>

}

else if (Model.ViewType == 1)
{
    <script>
        $(function () {
            var typeId = '@Model.TypeId';
            var viewType = '@Model.ViewType';
            $("#brandSelect").off("change");
            $("#carSelect").off("change");
            $("#brandSelect").on("change", function () {
                var brand = $("#brandSelect").val();
                var car = $("#carSelect").val();
                $.post('@Url.Action("LoadGoods")', { typeId: typeId, viewType: viewType, brand: brand, car: car, pageIndex: 1 }, function (data) {
                    $("#right").html(data);
                });
            })
            $("#carSelect").on("change", function () {
                var brand = $("#brandSelect").val();
                var car = $("#carSelect").val();
                $.post('@Url.Action("LoadGoods")', { typeId: typeId, viewType: viewType, brand: brand, car: car, pageIndex: 1 }, function (data) {
                    $("#right").html(data);
                });
            })
        });
    </script>
    <div class="row" id="goodsContent">
        @foreach (Goods item in Model.Goods.RESULT)
        {
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#content" onclick='showGoods({ GOODSNAME: "@item.GOODSNAME", GOODSID: "@item.GOODSID", IMAGEURL: "@item.IMAGEURL", REMARKS: "@item.REMARKS", SALEPRICE: "@item.SALEPRICE" })'>
                    <img data-src="holder.js/300x200" alt="300x200" src="@item.IMAGEURL"
                         style="width: 300px; height: 200px;">
                </a>
                <div class="caption">
                    <h3>@item.GOODSNAME</h3>
                    <p>
                        价格:@item.SALEPRICE

                        @if (Session["Plate"] == null)
                        {
                            <a href="#" class="btn btn-primary" onclick="if(confirm('尚未选择车辆，是否跳转至选择车辆页？')) location.href='@Url.Action("Car")'; else return false;">购买</a>
                        }
                        else
                        {
                            <a href="#" data-toggle="modal" data-target="#buyModal" class="btn btn-primary" onclick='showGoodsConfirm("@item.GOODSID","@item.SALEPRICE"); return false;'>购买</a>
                        }
                    </p>
                </div>
            </div>

        }
    </div>


    <!-- Modal -->
    <div class="modal fade" id="content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    <!-- /.modal -->
    <ul class="pager">
        <li>
            @if (Model.PageIndex == 1)
            {
                <a href='void(0);' style="color:gray" onclick="return false;">Previous</a>
            }
            else
            {
                <a id="btnPrev" data-ajax="true" href='@Url.Action("LoadGoods", new { viewType = Model.ViewType, pageIndex = Model.PageIndex - 1, brand = Model.Brand, car = Model.Car })' onclick="return loadGoods(this);">Previous</a>
            }
        </li>
        <li>
            @if (Math.Ceiling(Convert.ToDouble(Model.Goods.PAGEINFO[0].TOTALCOUNT) / Convert.ToDouble(Model.Goods.PAGEINFO[0].PAGECOUNT)) <= Model.PageIndex)
            {
                <a href='void(0);' style="color:gray" onclick="return false;">Next</a>
            }
            else
            {
                <a id="btnNext" data-ajax="true" href='@Url.Action("LoadGoods", new { viewType = Model.ViewType, pageIndex = Model.PageIndex + 1, brand = Model.Brand, car = Model.Car })' onclick="return loadGoods(this);">Next</a>
            }
        </li>
    </ul>
    <script id="goodsTmp" type="text/x-jquery-tmpl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{= GOODSNAME}}</h4>
                </div>
                <div class="modal-body">
                    <img src='{{= IMAGEURL}}'   />
                    <p>价格：{{= SALEPRICE}}</p>
                    <p>{{= REMARKS}}</p>
                </div>
                <div class="modal-footer">
                    @if (Session["Plate"] == null)
                    {
                        <button class="btn btn-default" onclick="if(confirm('尚未选择车辆，是否跳转至选择车辆页？')) location.href='@Url.Action("Car")'; else return false;">购买</button>
                    }
                    else
                    {
                        <button data-toggle="modal" data-target="#buyModal" class="btn btn-default" onclick='showGoodsConfirm("{{= GOODSID}}", "{{= SALEPRICE}}"); return false;'>购买</button>
                    }
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>

    </script>
}
else
{
    <script>
        $(function () {
            var typeId = '@Model.TypeId';
            var viewType = '@Model.ViewType';
            $("#brandSelect").off("change");
            $("#carSelect").off("change");
            $("#brandSelect").on("change", function () {
                var brand = $("#brandSelect").val();
                var car = $("#carSelect").val();
                $.post('@Url.Action("LoadGoods")' , { typeId: typeId, viewType: viewType, brand: brand, car: car ,pageIndex :1}, function (data) {
                    $("#right").html(data);
                });
            })
            $("#carSelect").on("change", function () {
                var brand = $("#brandSelect").val();
                var car = $("#carSelect").val();
                $.post('@Url.Action("LoadGoods")', { typeId: typeId, viewType: viewType, brand: brand, car: car, pageIndex: 1 }, function (data) {
                    $("#right").html(data);
                });
            })
        });
    </script>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                @foreach (Goods item in Model.Goods.RESULT)
                {
                    <a href="#" class="list-group-item" onclick='showGoods({GOODSNAME:"@item.GOODSNAME",GOODSID:"@item.GOODSID",IMAGEURL:"@item.IMAGEURL",REMARKS:"@item.REMARKS",SALEPRICE:"@item.SALEPRICE"},this);'>@item.GOODSNAME</a>
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12" id="content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <script id="goodsTmp" type="text/x-jquery-tmpl">
        <div class="thumbnail">
            <img style="width: 500px; height: 400px;" data-src="holder.js/300x200" src="{{= IMAGEURL}}" alt="...">
            <div class="caption">
                <h3>价格：{{= SALEPRICE}}</h3>
                <p>
                    {{= REMARKS}}
                </p>
                <p>
                    @if (Session["Plate"] == null)
                    {
                        <a href="#" class="btn btn-primary" onclick="if(confirm('尚未选择车辆，是否跳转至选择车辆页？')) location.href='@Url.Action("Car")'; else return false;">购买</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#buyModal" onclick='showGoodsConfirm("{{= GOODSID}}", "{{= SALEPRICE}}"); return false;'>购买</a>
                    }
                </p>
            </div>
        </div>

    </script>
}
<!-- Modal -->
<div id="confirmContainer">

</div>
<!-- /.modal -->
<script id="confirmBuy" type="text/x-jquery-tmpl">
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">保存</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            确定要为{{= plate}}购买吗？
                        </div>
                        <div class="form-group">
                            <label for="tempSalePrice" class="col-sm-2 control-label">临时价格</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tempSalePrice" value="{{= salesPrice}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salesMan" class="col-sm-2 control-label">销售人员</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="salesMan" value="{{= salesMan}}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick='addGoods("{{= goodsId}}"); return false;'>保存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</script>

